@use "../styles/border";
@use "../styles/spacing";
/*****************************************************************************
Table / Style
******************************************************************************/

// ROOT
.sb-table {

  display: flex;
  @include border.radius(s);

  table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
  }

  th, td {
    @include spacing.padding(s);
  }

  &.left th, &.left td {
    text-align: left;
  }

  &.center th, &.center td {
    text-align: center;
  }

  &.right th, &.right td {
    text-align: right;
  }

  th {
    &:first-child {
      @include border.radius-top-left(s);
    }
    &:last-child {
      @include border.radius-top-right(s);
    }
  }

  tr:last-child td {
    &:first-child {
      @include border.radius-bottom-left(s);
    }
    &:last-child {
      @include border.radius-bottom-right(s);
    }
  }

  table:not(:has(tbody)) {
    th {
      &:first-child {
        @include border.radius-bottom-left(s);
      }
      &:last-child {
        @include border.radius-bottom-right(s);
      }
    }
  }


  table:not(:has(thead)) {
    tr:first-child td {
      &:first-child {
        @include border.radius-top-left(s);
      }
      &:last-child {
        @include border.radius-top-right(s);
      }
    }
  }

}
