@use "../styles/border";
@use "../styles/theming";
/*****************************************************************************
Table / Theme
******************************************************************************/

// THEME
@mixin theme($theme) {
  .sb-table {
    @include border.border-accent($theme);

    tbody tr:nth-child(even) {
      background: theming.get-background($theme);
      color: theming.get-background-text($theme);
    }

    tbody tr:nth-child(odd) {
      background: theming.get-foreground($theme);
      color: theming.get-foreground-text($theme);
    }

    @include theming.for-each-color($theme) using ($color) {
      &.sb--#{$color} thead tr {
        background: theming.get-color($theme, $color);
        color: theming.get-text($theme, $color);
      }

      &.sb--#{$color}.plain thead tr  {
        background: theming.get-color-inverted($theme, $color);
        color: theming.get-text-inverted($theme, $color);
      }
    }
  }
}
