@use "../styles/display";
/*****************************************************************************
Content-Paginator / Style
******************************************************************************/

// ROOT
.sb-content-paginator {
  @include display.flex($justify: null, $gap: xs);
  &__wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
}
