@use "sb-element/core/spacing";
@use "sb-element/core/display";
@use "sb-element/core/border";
@use "sb-element/core/transitioning";

.color-picker-header {
	@include display.flex($justify: space-between);
	.color-picker {
		@include display.flex($justify: flex-end, $gap: s);

		[class^=color] {
			height: spacing.get-spacing(m);
			width: spacing.get-spacing(m);
			@include border.radius(s);
			@include transitioning.ease(transform, 300ms);

			&.active {
				transform: scale(1.4);
			}
		}
	}
}
