<sb-grid dim="1x3" gap="m" ngClass="sb--padding-m">
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Input</p>
    </sb-card-header>
    <sb-card-content>
      <sb-input type="text"></sb-input>
      <sb-input-group>
        <sb-input type="text" placeholder="Input one"></sb-input>
        <sb-input type="text" placeholder="Input two"></sb-input>
        <sb-input type="time"></sb-input>
      </sb-input-group>
      <sb-input-group>
        <sb-input type="text" placeholder="Input one"></sb-input>
        <sb-input type="date"></sb-input>
        <sb-input type="date-range"></sb-input>
      </sb-input-group>
      <sb-input type="time"></sb-input>
      <sb-input type="date-range"></sb-input>
    </sb-card-content>
  </sb-card>
</sb-grid>