<sb-grid dim="1x2" gap="m" ngClass="sb--padding-m">
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Toast</p>
    </sb-card-header>
    <sb-card-content>
      <sb-toast #toastOne [visible]="true" [timed]="2000">
        <div header>
          <sb-icon color="secondary">breakfast_dining</sb-icon> SbTimedToast
        </div>
        <div body>
          This is a timed toast!
        </div>
      </sb-toast>
      <sb-toast [visible]="true">
        <div header>
          <sb-icon color="secondary">breakfast_dining</sb-icon> SbToast
        </div>
        <div body>
          This is a rather long toast notification!
        </div>
      </sb-toast>
      <button color="primary" sbClickTrigger [triggerable]="toastOne">Trigger Timed Toast</button>
    </sb-card-content>
    <sb-card-content>
      <sb-highlight [code]="toastDoc" language="xml"></sb-highlight>
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Alert Box</p>
    </sb-card-header>
    <sb-card-content>
      <sb-alert-box color="primary">Primary Notification</sb-alert-box>
      <sb-alert-box color="secondary">Secondary Notification</sb-alert-box>
      <sb-alert-box color="success">Success Notification</sb-alert-box>
      <sb-alert-box color="warn">Warn Notification</sb-alert-box>
      <sb-alert-box color="info">Info Notification</sb-alert-box>
      <sb-alert-box size="s"  color="primary" [arrow]="false" [icon]="false">Primary Notification</sb-alert-box>
      <sb-alert-box size="m"  color="primary" [arrow]="false" [icon]="false">Primary Notification</sb-alert-box>
      <sb-alert-box size="l"  color="primary" [arrow]="false" [icon]="false">Primary Notification</sb-alert-box>
      <sb-alert-box size="xl" color="primary" [arrow]="false" [icon]="false">Primary Notification</sb-alert-box>
    </sb-card-content>
    <sb-card-content>
      <sb-highlight [code]="alertBoxDoc" language="xml"></sb-highlight>
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Alert</p>
    </sb-card-header>
    <sb-card-content>
      <button color="primary" (click)="alertPrimary()" plain size="s">Primary Notification</button>
      <button color="secondary" (click)="alertSecondary()" plain size="s">Secondary Notification</button>
      <button color="success" (click)="alertSuccess()" plain size="s">Success Notification</button>
      <button color="warn" (click)="alertWarn()" plain size="s">Warn Notification</button>
      <button color="info" (click)="alertInform()" plain size="s">Info Notification</button>
    </sb-card-content>
  </sb-card>
</sb-grid>
