@use "sass:math";
@use "../../styles/border";
@use "../../styles/spacing";
@use "../../styles/transition";
/*****************************************************************************
Toggle-Button / Style
******************************************************************************/

// ROOT
.sb-toggle-button {
  display: block;

  button {
    width: 100%;
    border-width: border.get-border-width(m);
    border-style: solid;
    border-color: transparent;
    @include transition.ease(300ms, background, color, border, box-shadow);
  }
}
