<sb-el-container size="l">
  <sb-el-grid dim="1x2">
    <sb-el-card size="s" color="primary" hover>
      <div title>
        Card with Hover
      </div>
      <div content>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
      </div>
      <div footer>
        Go checkout something else!
      </div>
    </sb-el-card>
    <sb-el-card size="s" color="primary">
      <div title>
        Card without Hover
      </div>
      <div content>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </div>
      <div footer>
        <sb-el-icon-button plain round>&#xf1df;</sb-el-icon-button>
      </div>
    </sb-el-card>
  </sb-el-grid>
</sb-el-container>
<sb-el-container size="l"
  sbElPopoverTriggerMouseover
  [allowMouseover]="true"
  popoverPosition="bottom"
  (trigger)="pop()">
  <sb-el-table [table]="table" separation="color"></sb-el-table>
</sb-el-container>
<sb-el-container size="l">
  <form [ngClass]="'sb-el-form sb-el-form--' + theme + '-success'" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="sb-el-form__header is-left">
      This is a Form
    </div>
    <div class="sb-el-form__content">
      <sb-el-alert-box color="secondary" size="d" [showArrow]="true" [showIcon]="true" pill>
        This is a warning!
      </sb-el-alert-box>
      <hr class="sb-el-form-group-separator" [ngClass]="'sb-el-form-group-separator--' + theme">
      <sb-el-checkbox-group
        groupTitle="Select Checkboxes"
        groupAlign="left"
        size="s"
        [color]="color"
        [(ngModel)]="model.checkboxes"
        name="checkboxes"
        #checkboxes="ngModel"
        [options]="['Option 1', 'Option 2', 'Option 3']"
        [disabled]="false">
      </sb-el-checkbox-group>
      <hr class="sb-el-form-group-separator" [ngClass]="'sb-el-form-group-separator--' + theme">
      <sb-el-radio-button-group
        groupTitle="Select Radio"
        groupAlign="left"
        size="s"
        [color]="color"
        [(ngModel)]="model.radios"
        name="radios"
        #radios="ngModel"
        [options]="['Option 1', 'Option 2', 'Option 3']"
        [disabled]="false">
      </sb-el-radio-button-group>
      <hr class="sb-el-form-group-separator" [ngClass]="'sb-el-form-group-separator--' + theme">
      <sb-el-form-group
        groupTitle="Select and Slider"
        extraClasses="hi">
        <sb-el-select-button
          pill
          size="d"
          [color]="color"
          [(ngModel)]="model.select"
          name="select"
          #select="ngModel"
          [options]="['Option 1', 'Option 2', 'Option 3']">
          Select
        </sb-el-select-button>
        <sb-el-date-picker></sb-el-date-picker>
        <sb-el-slider
          label="Slider"
          size="m"
          [color]="color"
          [max]="20"
          [min]="-20"
          [step]="0.1"
          [snap]="[0, 3, 6]"
          [showValue]="true"
          [valueSuffix]="'kWh'"
          [(ngModel)]="model.slider"
          name="slider"
          #slider="ngModel">
        </sb-el-slider>
      </sb-el-form-group>
      <hr class="sb-el-form-group-separator" [ngClass]="'sb-el-form-group-separator--' + theme">
      <sb-el-form-group
        groupTitle="Input"
        extraClasses="hi">
        <sb-el-input
          placeholder="Enter your E-Mail"
          size="m"
          [color]="color"
          [(ngModel)]="model.input"
          name="input"
          [disabled]="false"
          #input="ngModel">
        </sb-el-input>
        <sb-el-file-input
          placeholder="File Input"
          size="m"
          pill
          [limit]="3"
          [color]="color"
          [(ngModel)]="model.fileinput"
          name="fileinput"
          [disabled]="false"
          #fileinput="ngModel">
        </sb-el-file-input>
      </sb-el-form-group>
    </div>
    <div class="sb-el-form__footer is-center">
      <sb-el-button
        type="submit"
        extraClasses="sb-el-form__footer-element"
        pill
        size="d"
        [color]="color"
        [disabled]="!form.valid"
        sbElTooltip="This is a submit button"
        [delay]="500"
        popoverPosition="left">
          Submit
      </sb-el-button>
    </div>
  </form>
</sb-el-container>
<sb-el-alert [showIcon]="true" [showArrow]="true"></sb-el-alert>
