<sb-nav-bar>
  <sb-icon left color="primary">&#xeb9b;</sb-icon>
  <div left>SB Element Demo</div>
  <sb-link [routerLink]="['/', 'sb']" left>Severin Buchser</sb-link>
  <sb-link href="https://severinbuchser.github.io/sb-element-doc/" left>Documentation</sb-link>
  <sb-link left [active]="true">Example</sb-link>
  <sb-toggle
    right
    type="switch"
    size="s"
    [color]="color"
    [ngModel]="toggle"
    (ngModelChange)="toggleTheme()">
  </sb-toggle>
</sb-nav-bar>
<sb-breadcrumbs [crumbs]="crumbs" (navigate)="handleNavigate($event)"></sb-breadcrumbs>
<sb-container size="l">
  <sb-grid dim="1x6" gap="l">
    <sb-card size="s" color="primary" hover>
      <div title>
        Indicator
      </div>
      <div content [ngStyle]="{'width': '100%', 'flex-direction': 'column', 'display': 'flex', 'gap': '20px'}">
        <sb-progress size="xs" color="secondary" [progress]="20"></sb-progress>
        <sb-progress size="s" color="primary" [progress]="40" striped></sb-progress>
        <sb-progress size="d" color="warn" [progress]="60" pill striped [animateStripes]="true"></sb-progress>
        <sb-progress size="m" color="info" [progress]="80" outline [showPercentage]="true"></sb-progress>
        <sb-progress size="l" color="success" [progress]="100"></sb-progress>
      </div>
    </sb-card>
    <sb-card size="s" color="primary" hover>
      <div title>
        Toast
      </div>
      <div content>
        <sb-toast #toastOne [visible]="true" [timed]="2000" (hideEnd)="toastHide()">
          <div header [ngStyle]="{'width': '100%','display': 'flex', 'justify-content': 'space-between'}">
            <div>
              <sb-icon [ngStyle]="{'display': 'inline-block'}" color="secondary">breakfast_dining</sb-icon>
              SbTimedToast
            </div>
          </div>
          <div body>
            This is a timed toast!
          </div>
        </sb-toast>
        <sb-toast [visible]="true" (hideEnd)="toastHide()">
          <div header [ngStyle]="{'width': '100%','display': 'flex', 'justify-content': 'space-between'}">
            <div>
              <sb-icon [ngStyle]="{'display': 'inline-block'}" color="secondary">breakfast_dining</sb-icon>
              SbToast
            </div>
            <span>5 min. ago</span>
          </div>
          <div body>
            This is a rather long toast notification!
          </div>
        </sb-toast>
        <button color="primary" sbElClickTrigger [triggerable]="toastOne">Trigger Timed Toast</button>
      </div>
    </sb-card>
    <sb-card size="s" color="primary" hover>
      <div title>
        Calendar Days
      </div>
      <div content>
        <sb-calendar-dates></sb-calendar-dates>
      </div>
    </sb-card>
    <sb-card size="s" color="primary" hover>
      <div title>
        Calendar Months
      </div>
      <div content>
        <sb-calendar-months></sb-calendar-months>
      </div>
    </sb-card>
    <sb-card size="s" color="primary" hover>
      <div title>
        Calendar Years
      </div>
      <div content>
        <sb-calendar-years></sb-calendar-years>
      </div>
    </sb-card>
    <sb-card size="s" color="primary">
      <div title>
        Timeline
      </div>
      <div content>
        <sb-timeline
          color="primary"
          size="l"
          #timeline
          [stepNames]="['First Step', 'Second Step', 'Third Step', 'Fourth Step']">
        </sb-timeline>
        <div class="timeline-control">
          <button color="primary" (click)="timeline.previousDone()" plain size="s">Previous Done</button>
          <button color="primary" (click)="timeline.previousPending()" plain size="s">Previous Pending</button>
          <button color="primary" (click)="timeline.previous()" plain size="s">Previous</button>
          <button color="primary" (click)="timeline.nextDone()" plain size="s">Next Done</button>
          <button color="primary" (click)="timeline.nextPending()" plain size="s">Next Pending</button>
        </div>
      </div>
      <div footer>
        <sb-icon-button color="primary" plain round>&#xf1df;</sb-icon-button>
      </div>
    </sb-card>
    <sb-card size="s" color="primary">
      <div title>
        Datepicker
      </div>
      <div content>
        <div class="pickers">
          <sb-input
            type="date"
            [(ngModel)]="model.date"
            name="date"
            size="m"
            [color]="'success'"
            #date="ngModel">
          </sb-input>
          <sb-input
            type="date-range"
            [(ngModel)]="model.dateRange"
            name="dateRange"
            size="m"
            [color]="'success'"
            #dateRange="ngModel">
          </sb-input>
        </div>
      </div>
      <div footer>
        <sb-icon-button color="primary" plain round>&#xf1df;</sb-icon-button>
      </div>
    </sb-card>
    <sb-card size="s" color="primary">
      <div title>
        Number Input
      </div>
      <div content>
        <div class="pickers">
          <sb-input
            type="number"
            placeholder="Number Input"
            [(ngModel)]="model.spinner"
            name="spinner"
            size="m"
            [color]="'success'"
            #spinner="ngModel">
          </sb-input>
          <sb-input
            type="time"
            [(ngModel)]="model.time"
            name="time"
            size="m"
            [color]="'success'"
            #time="ngModel">
          </sb-input>
        </div>
      </div>
      <div footer>
        <sb-icon-button color="primary" plain round>&#xf1df;</sb-icon-button>
      </div>
    </sb-card>
  </sb-grid>
</sb-container>
<sb-container ngClass="container">
  <sb-sidebar #sidebarOne>
    <div sidebar>
      <button color="primary" sbElClickTrigger [triggerable]="sidebarOne">Close Sidebar</button>
    </div>
    <div content>
      <button color="primary" sbElClickTrigger [triggerable]="sidebarOne">Open Sidebar</button>

      <sb-popper #popperOne position="bottom">
        <div popper>
          Popper
        </div>
        <button color="primary" content sbElClickOutsideTrigger [triggerable]="popperOne">Open Popper</button>
      </sb-popper>
    </div>
  </sb-sidebar>
</sb-container>
<sb-container size="l">
  <sb-table color="primary" [head]="table.head" [body]="table.data" plain alignment="center"></sb-table>
</sb-container>
<sb-container size="l">
  <form [ngClass]="'sb-form sb-form--' + theme + '-success'" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="sb-form__header left">
      This is a Form
    </div>
    <div class="sb-form__content">
      <sb-alert-box color="secondary" size="d" [showArrow]="true" [showIcon]="true" plain>
        This is a warning!
      </sb-alert-box>
      <hr class="sb-form-group-separator" [ngClass]="'sb-form-group-separator--' + theme">
      <div>
        <sb-checkbox
          *ngFor="let checkbox of model.checkboxes"
          [(ngModel)]="checkbox.checked"
          name="checkboxes"
          #checkboxes="ngModel"
          [label]="checkbox.name"
          name="checkboxes"
          color="primary"
          [disabled]="false">
        </sb-checkbox>
      </div>
      <hr class="sb-form-group-separator" [ngClass]="'sb-form-group-separator--' + theme">
      <sb-radio-button-group
        [(ngModel)]="model.radios"
        name="radios"
        #radios="ngModel"
        [options]="options"
        [disabled]="false">
      </sb-radio-button-group>
      <hr class="sb-form-group-separator" [ngClass]="'sb-form-group-separator--' + theme">
      <sb-select-button
        pill
        size="d"
        [color]="color"
        [(ngModel)]="model.select"
        name="select"
        #select="ngModel"
        [options]="options">
        Select
      </sb-select-button>
      <sb-slider
        placeholder="Slider"
        size="d"
        [color]="color"
        [max]="20"
        [min]="-20"
        [step]="0.1"
        [snap]="[0, 3, 6]"
        [(ngModel)]="model.slider"
        name="slider"
        #slider="ngModel">
      </sb-slider>
      <hr class="sb-form-group-separator" [ngClass]="'sb-form-group-separator--' + theme">
      <sb-input
        type="text"
        placeholder="Enter your E-Mail"
        size="m"
        [color]="color"
        [(ngModel)]="model.input"
        name="input"
        [disabled]="false"
        #input="ngModel">
      </sb-input>
      <sb-input
        type="file"
        placeholder="File Input"
        size="d"
        pill
        [color]="color"
        [(ngModel)]="model.fileinput"
        name="fileinput"
        [disabled]="false"
        #fileinput="ngModel">
      </sb-input>
    </div>
    <div class="sb-form__footer center">
      <sb-tooltip text="This is a tooltip!" position="left">
        <button
          type="submit"
          class="sb-form__footer-element"
          pill
          size="d"
          [color]="color"
          [disabled]="!form.valid">
            Submit
        </button>
      </sb-tooltip>
    </div>
  </form>
</sb-container>
<sb-alert [showIcon]="true" [showArrow]="true"></sb-alert>
<!--<sb-toaster></sb-toaster>-->
