@use "../styles/display";
@use "../styles/spacing";
/*****************************************************************************
Calendar-Dates / Style
******************************************************************************/

// ROOT
.sb-calendar-dates {
  display: grid;
  grid-template-rows: 1fr 6fr;

  &__week-days {
    @include display.grid(
      repeat(7, spacing.get-spacing(xl)),
      $gap: 0,
      $flow: row
    );
    justify-items: center;
    align-items: center;
  }

  &__dates {
    @include display.grid(
      repeat(7, spacing.get-spacing(xl)),
      repeat(6, spacing.get-spacing(xl)),
      0, 
      $flow: row
    );
    justify-items: center;
    align-items: center;
  }
}
