@use "../styles/border";
@use "../styles/display";
@use "../styles/transition";
/*****************************************************************************
Calendar-Markable / Style
******************************************************************************/

// ROOT
.sb-markable-date {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 63%;
  @include transition.ease(200ms, background);
  @include border.pill(500px);
  @include display.flex();

  span {
    color: inherit;
  }

  &.disabled {
    cursor: not-allowed;

    &:hover {
      background: transparent;
    }
  }

  &.marked {
    &.start {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.between {
      width: calc(100% + 2px);
      @include border.radius(0);
    }

    &.end {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &.not-in-range {
    cursor: default;

    &:hover {
      background: transparent;
    }
  }
}