<sb-grid dim="1xauto" gap="m" ngClass="sb--padding-m">
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Sidebar</p>
    </sb-card-header>
    <sb-card-content ngClass="center">
      <sb-sidebar #sidebarOne side="left">
        <button color="primary" sbClickTrigger [triggerable]="sidebarOne">Close Sidebar</button>
      </sb-sidebar>
      <button color="primary" sbClickTrigger [triggerable]="sidebarOne">Open Sidebar</button>
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Popper</p>
    </sb-card-header>
    <sb-card-content ngClass="center">
      <sb-popper #popperOne position="left" [alignment]="sth">
        <sb-popper-overlay>
          Popper
        </sb-popper-overlay>
        <sb-popper-content [ngStyle]="{
          'width': '200px',
          'height': '200px',
          'background': 'black',
          'transform': 'translate(0px, 0px)'
        }">
          <button color="primary" sbClickTrigger [triggerable]="popperOne">Open Popper</button>
        </sb-popper-content>
      </sb-popper>
      <sb-slider
      [(ngModel)]="sth"
      [max]="1"
      [min]="-1"
      [step]="0.01"></sb-slider>
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Popper</p>
    </sb-card-header>
    <sb-card-content ngClass="center">
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Popper</p>
    </sb-card-header>
    <sb-card-content ngClass="center">
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Popper</p>
    </sb-card-header>
    <sb-card-content ngClass="center">
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Popper</p>
    </sb-card-header>
    <sb-card-content ngClass="center">
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Popper</p>
    </sb-card-header>
    <sb-card-content ngClass="center">
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Popper</p>
    </sb-card-header>
    <sb-card-content ngClass="center">
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Popper</p>
    </sb-card-header>
    <sb-card-content ngClass="center">
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Popper</p>
    </sb-card-header>
    <sb-card-content ngClass="center">
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Popper</p>
    </sb-card-header>
    <sb-card-content ngClass="center">
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Popper</p>
    </sb-card-header>
    <sb-card-content ngClass="center">
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Popper</p>
    </sb-card-header>
    <sb-card-content ngClass="center">
    </sb-card-content>
  </sb-card>
</sb-grid>
