@use 'sb-element/core/theming';
@use 'sb-element/core/spacing';

.home {
  display: block;
  min-height: 100vh;

  &.sb--dark {
    background: theming.get-background(dark);
  }

  &.sb--light {
    background: theming.get-background(light);
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    @include spacing.margin-right(s);
    .logo-text {
      letter-spacing: -0.04em;
    }

    .logo-svg {
      height: spacing.get-bigger(xl);
    }
  }
}
