<sb-nav-bar>
  <div left class="logo">
    <img src="assets/logo.svg" class="logo-svg"/>
    <div class="sb-font-default sb--m sb--bold logo-text">element</div>
  </div>
  <sb-link href="https://severinbuchser.github.io/sb-element-doc/" left>Documentation</sb-link>
  <sb-link left [routerLink]="['example']" [active]="true">Example</sb-link>
  <sb-toggle
    right
    type="switch"
    size="s"
    [color]="color"
    [ngModel]="toggle"
    (ngModelChange)="toggleTheme()">
  </sb-toggle>
</sb-nav-bar>
<!-- <sb-breadcrumbs [url]="router.url" homePlaceholder="Home" (navigate)="router.navigate([$event])"></sb-breadcrumbs> -->
<router-outlet></router-outlet>
