<sb-container size="l">
  <sb-grid dim="1x3" gap="l">
    <sb-card size="s" color="primary" hover>
      <div title>
        Calendar Days
      </div>
      <div content>
        <sb-calendar-dates></sb-calendar-dates>
      </div>
    </sb-card>
    <sb-card size="s" color="primary" hover>
      <div title>
        Calendar Months
      </div>
      <div content>
        <sb-calendar-months></sb-calendar-months>
      </div>
    </sb-card>
    <sb-card size="s" color="primary" hover>
      <div title>
        Calendar Years
      </div>
      <div content>
        <sb-calendar-years></sb-calendar-years>
      </div>
    </sb-card>
    <sb-card size="s" color="primary" hover>
      <div title>
        Calendar
      </div>
      <div content>
        <sb-calendar></sb-calendar>
      </div>
    </sb-card>
  </sb-grid>
</sb-container>
