/*****************************************************************************
<%= dasherize(name) %> / Style
******************************************************************************/

// ROOT
.sb-<%= dasherize(name) %> {
  
}
