<sb-nav-bar>
  <sb-nav-bar-content>
    <div class="logo">
      <img src="assets/logo.svg" class="logo-svg"/>
      <div class="sb-font-default sb--m sb--bold logo-text">element</div>
    </div>
    <sb-link href="https://severinbuchser.github.io/sb-element-doc/">Documentation</sb-link>
    <sb-link [routerLink]="['example']" [active]="true">Example</sb-link>
  </sb-nav-bar-content>
  <sb-nav-bar-content>
    <theme-toggle-switch></theme-toggle-switch>
  </sb-nav-bar-content>
</sb-nav-bar>
<router-outlet></router-outlet>
