@use "sb-element/core/theming";
/*****************************************************************************
<%= dasherize(name) %> / Theme
******************************************************************************/

// THEME
@mixin theme($theme) {
  .sb-<%= dasherize(name) %> {

  }
}
