<sb-tab-bar>
	<sb-tab-label
		*ngFor="let tab of tabs; let i = index"
		#label
		[routerLink]="tab.route"
		routerLinkActive
		(isActiveChange)="label.setActive($event)"
		(click)="label.setActive(true)"
		(activate)="setActive(i)">
		<ng-container [cdkPortalOutlet]="tab.label"></ng-container>
	</sb-tab-label>
</sb-tab-bar>
<ng-template [ngIf]="tabs.length > 0">
	<div [ngClass]="className + '__content'" 
		[@slideAnimation]="{
			value: animationState,
			params: {
				animationDuration
			}
		}">
		<ng-container [cdkPortalOutlet]="tabs.get(activeTabIndex)?.content"></ng-container>
		<router-outlet></router-outlet>
	</div>
</ng-template>
