@use "../styles/display";
/*****************************************************************************
Tabs / Style
******************************************************************************/

// ROOT
.sb-tabs {
  display: block;
  overflow: hidden;
  &__content {
    @include display.flex();
    overflow: hidden;
    position: relative;
  }
}
