@use "../styles/display";
/*****************************************************************************
Tabs / Style
******************************************************************************/

// ROOT
.sb-tabs {
  height: 100%;
  &__content {
    position: relative;
    overflow-x: visible;
    overflow-y: visible;
    height: 100%;
  }
}
