<sb-container size="l">
  <sb-grid dim="1x1" gap="l">
    <sb-card>
      <sb-card-header>
        <p class="sb--s">Timeline</p>
      </sb-card-header>
      <sb-card-content>
        <sb-timeline
          color="primary"
          size="l"
          #timeline
          [stepNames]="['First Step', 'Second Step', 'Third Step', 'Fourth Step']">
        </sb-timeline>
        <div class="timeline-control">
          <button color="primary" (click)="timeline.previousDone()" plain size="s">Previous Done</button>
          <button color="primary" (click)="timeline.previousPending()" plain size="s">Previous Pending</button>
          <button color="primary" (click)="timeline.previous()" plain size="s">Previous</button>
          <button color="primary" (click)="timeline.nextDone()" plain size="s">Next Done</button>
          <button color="primary" (click)="timeline.nextPending()" plain size="s">Next Pending</button>
        </div>
      </sb-card-content>
    </sb-card>
  </sb-grid>
</sb-container>
