import { Component, OnInit } from '@angular/core';
import { <%= themeService %><%= directive %> } from 'sb-element';

@Component({
  selector: 'app-<%= dasherize(name) %>',
	templateUrl: './<%= dasherize(name) %>.component.html',
	styleUrls: ['./<%= dasherize(name) %>.component.scss'],
})
export class <%= classify(name) %>Component extends <%= directive %> implements OnInit {

  public rootClass = 'app-<%= dasherize(name) %>';

  <%= constructor %>

  ngOnInit(): void {
  }

}
