<sb-grid [dim]="gridDim" justify="even">
  <div *ngFor="let step of steps" [ngClass]="className + '__name'">
    <span>{{ step.name }}</span>
  </div>
  <div *ngFor="let step of steps; index as i" [ngClass]="className + '__indicator'">
    <sb-icon *ngIf="step.state == 'current'"
      size="s"
      [color]="color">
      adjust
    </sb-icon>

    <sb-icon *ngIf="step.state == 'awaiting'"
      size="s"
      outline
      ngClass="awaiting">
      circle
    </sb-icon>

    <sb-icon *ngIf="step.state == 'done'"
      size="s"
      [color]="color">
      circle
    </sb-icon>

    <sb-icon *ngIf="step.state == 'pending'"
      size="s"
      [color]="color"
      outline>
      pending
    </sb-icon>
    <div *ngIf="step.line" [ngClass]="getLineClasses(i)"></div>
  </div>
</sb-grid>
