<sb-el-form-group
  [groupTitle]="groupTitle"
  [groupAlign]="groupAlign"
  [size]="size"
  [color]="color">
  <div [ngClass]="getClasses()">
  <div
    [ngClass]="rootClass + '__options'"
    *ngFor="let option of options">
      <sb-el-checkbox
        [(ngModel)]="selectedOptions[option]"
        (ngModelChange)="change()"
        [size]="size"
        [color]="color"
        [theme]="theme"
        [disabled]="disabled"
        [labelPosition]="labelPosition"
        [label]="option">
      </sb-el-checkbox>
    </div>
  </div>
</sb-el-form-group>
