<div [ngClass]="classes">
  <span *ngIf="hasGroupTitle" class="sb-form-group__title">{{groupTitle}}</span>
  <div
    class="sb-checkbox-group__checkbox sb-form-group-options__option"
    *ngFor="let option of options">
    <sb-el-checkbox
      [(ngModel)]="selectedOptions[option]"
      (ngModelChange)="change()"
      [disabled]="disabled"
      [size]="size"
      [color]="color"
      [theme]="theme"
      [label]="option"
      [labelPosition]="labelPosition">
    </sb-el-checkbox>
  </div>
</div>
