<div class="sb-checkbox-group sb-form-group is-options">
  <span *ngIf="hasGroupTitle" class="sb-form-group__title">{{groupTitle}}</span>
  <div
    class="sb-checkbox-group__checkbox sb-form-group-options__option"
    *ngFor="let option of options">
    <sb-el-checkbox
      [(ngModel)]="selectedOptions[option]"
      (ngModelChange)="change()"
      [disabled]="disabled"
      size="s">
    </sb-el-checkbox>
    <label class="sb-checkbox-group__label sb-form-group-options__option-label">
      <span>{{ option }}</span>
    </label>
  </div>
</div>
