<sb-container ngClass="container">
  <sb-sidebar #sidebarOne>
    <div sidebar>
      <button color="primary" sbClickTrigger [triggerable]="sidebarOne">Close Sidebar</button>
    </div>
    <div content>
      <button color="primary" sbClickTrigger [triggerable]="sidebarOne">Open Sidebar</button>

      <sb-popper #popperOne position="bottom">
        <div popper>
          Popper
        </div>
        <button color="primary" content sbClickOutsideTrigger [triggerable]="popperOne">Open Popper</button>
      </sb-popper>
    </div>
  </sb-sidebar>
</sb-container>
