<form class="" (ngSubmit)="onSubmit(form)" #form="ngForm" style="width: 500px">

  <sb-el-checkbox-group
    groupTitle="Select Checkboxes"
    size="s"
    color="success"
    theme="night"
    [(ngModel)]="model.checkboxes"
    name="checkboxes"
    #checkboxes="ngModel"
    [options]="['Option 1', 'Option 2', 'Option 3']">
  </sb-el-checkbox-group>
  <hr class="sb-form-group-separator">
  <sb-el-radio-button-group
    groupTitle="Select Radio"
    size="s"
    color="success"
    theme="night"
    [(ngModel)]="model.radios"
    name="radios"
    #radios="ngModel"
    [options]="['Option 1', 'Option 2', 'Option 3']">
  </sb-el-radio-button-group>
  <hr class="sb-form-group-separator">

  <sb-el-button pill size="d" [disabled]="!form.valid">Submit</sb-el-button>
</form>
