<form class="sb-el-form sb-el-form--night-success" (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="sb-el-form__header is-center">
    This is a Form
  </div>
  <div class="sb-el-form__content">
    <sb-el-checkbox-group
      groupTitle="Select Checkboxes"
      size="s"
      groupAlign="center"
      [color]="color"
      [theme]="theme"
      [(ngModel)]="model.checkboxes"
      name="checkboxes"
      #checkboxes="ngModel"
      [options]="['Option 1', 'Option 2', 'Option 3']">
    </sb-el-checkbox-group>
    <hr class="sb-el-form-group-separator" [ngClass]="'sb-el-form-group-separator--' + theme">
    <sb-el-radio-button-group
      groupTitle="Select Radio"
      size="s"
      groupAlign="center"
      [color]="color"
      [theme]="theme"
      [(ngModel)]="model.radios"
      name="radios"
      #radios="ngModel"
      [options]="['Option 1', 'Option 2', 'Option 3']">
    </sb-el-radio-button-group>
  </div>
  <div class="sb-el-form__footer is-center">
    <sb-el-button
      extraClasses="sb-el-form__footer-element"
      pill
      size="d"
      [color]="color"
      [theme]="theme"
      [disabled]="!form.valid">
        Submit
    </sb-el-button>
  </div>
</form>
