<sb-container size="l">
  <sb-grid dim="1x2" gap="l">
    <sb-card>
      <sb-card-header>
        <p class="sb--s">Toast</p>
      </sb-card-header>
      <sb-card-content>
        <sb-toast #toastOne [visible]="true" [timed]="2000">
          <div header [ngStyle]="{'width': '100%','display': 'flex', 'justify-content': 'space-between'}">
            <div>
              <sb-icon [ngStyle]="{'display': 'inline-block'}" color="secondary">breakfast_dining</sb-icon>
              SbTimedToast
            </div>
          </div>
          <div body>
            This is a timed toast!
          </div>
        </sb-toast>
        <sb-toast [visible]="true">
          <div header [ngStyle]="{'width': '100%','display': 'flex', 'justify-content': 'space-between'}">
            <div>
              <sb-icon [ngStyle]="{'display': 'inline-block'}" color="secondary">breakfast_dining</sb-icon>
              SbToast
            </div>
            <span>5 min. ago</span>
          </div>
          <div body>
            This is a rather long toast notification!
          </div>
        </sb-toast>
        <button color="primary" sbClickTrigger [triggerable]="toastOne">Trigger Timed Toast</button>
      </sb-card-content>
    </sb-card>
    <sb-card>
      <sb-card-header>
        <p class="sb--s">Alert Box</p>
      </sb-card-header>
      <sb-card-content>
        <sb-grid dim="2x1" gap="xl">
          <sb-grid content dim="1x5" gap="s">
            <sb-alert-box color="primary" size="m" [arrow]="true" [icon]="true">Primary Notification</sb-alert-box>
            <sb-alert-box color="secondary" size="m" [arrow]="true" [icon]="true">Secondary Notification</sb-alert-box>
            <sb-alert-box color="success" size="m" [arrow]="true" [icon]="true">Success Notification</sb-alert-box>
            <sb-alert-box color="warn" size="m" [arrow]="true" [icon]="true">Warn Notification</sb-alert-box>
            <sb-alert-box color="info" size="m" [arrow]="true" [icon]="true">Info Notification</sb-alert-box>
          </sb-grid>
          <sb-grid content dim="1x4" gap="m">
            <sb-alert-box color="primary" size="s" [arrow]="false" [icon]="false">Primary Notification</sb-alert-box>
            <sb-alert-box color="primary" size="m" [arrow]="false" [icon]="false">Primary Notification</sb-alert-box>
            <sb-alert-box color="primary" size="l" [arrow]="false" [icon]="false">Primary Notification</sb-alert-box>
            <sb-alert-box color="primary" size="xl" [arrow]="false" [icon]="false">Primary Notification</sb-alert-box>
          </sb-grid>
        </sb-grid>
      </sb-card-content>
    </sb-card>
    <sb-card>
      <sb-card-header>
        <p class="sb--s">Alert</p>
      </sb-card-header>
      <sb-card-content>
        <sb-grid dim="2x2" gap="s">
          <button color="primary" (click)="alertPrimary()" plain size="s">Primary Notification</button>
          <button color="secondary" (click)="alertSecondary()" plain size="s">Secondary Notification</button>
          <button color="success" (click)="alertSuccess()" plain size="s">Success Notification</button>
          <button color="warn" (click)="alertWarn()" plain size="s">Warn Notification</button>
          <button color="info" (click)="alertInform()" plain size="s">Info Notification</button>
        </sb-grid>
      </sb-card-content>
    </sb-card>
  </sb-grid>
</sb-container>
