@use "sb-element/core/spacing";

.nav-card {
  cursor: pointer;

  .content {
    p {
      transition: all 200ms;
    }
  }

  &:hover .content p {
    transform: translateX(spacing.get-spacing(s));
  }
}
