<sb-grid dim="4x4" gap="s" justify="even">
  <sb-card [routerLink]="['indicator']">
    <img sbCardImage src="assets/indicator-card.svg"/>
    <sb-card-content ngClass="content">
      <p>Indicator</p>
    </sb-card-content>
  </sb-card>
  <sb-card [routerLink]="['notification']">
    <img sbCardImage src="assets/notification-card.svg"/>
    <sb-card-content ngClass="content">
      <p>Notification</p>
    </sb-card-content>
  </sb-card>
  <sb-card [routerLink]="['timeline']">
    <img sbCardImage src="assets/timeline-card.svg"/>
    <sb-card-content ngClass="content">
      <p>Timeline</p>
    </sb-card-content>
  </sb-card>
  <sb-card [routerLink]="['calendar']">
    <img sbCardImage src="assets/calendar-card.svg"/>
    <sb-card-content ngClass="content">
      <p>Calendar</p>
    </sb-card-content>
  </sb-card>
</sb-grid>
