<sb-grid dim="1xauto" gap="m" ngClass="sb--padding-m">
  <sb-card size="s" color="primary">
    <sb-card-header>
      <p class="sb--s">Input</p>
    </sb-card-header>
    <sb-card-content ngClass="inputs">
      <sb-input
        type="text"
        placeholder="Type some text here"
        size="l"
        [color]="color">
      </sb-input>
      <sb-input
        type="double"
        firstPlaceholder="First input"
        secondPlaceholder="Second input"
        size="l"
        [color]="color">
      </sb-input>
    </sb-card-content>
  </sb-card>
  <sb-card size="s" color="primary">
    <sb-card-header>
      <p class="sb--s">Number Input</p>
    </sb-card-header>
    <sb-card-content ngClass="inputs">
      <sb-input
        type="number"
        placeholder="Number Input"
        size="l"
        [color]="color">
      </sb-input>
      <sb-input
        type="time"
        size="l"
        [color]="color">
      </sb-input>
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Datepicker</p>
    </sb-card-header>
    <sb-card-content ngClass="inputs">
      <sb-input
        type="date"
        size="l"
        [color]="color">
      </sb-input>
      <sb-input
        type="date-range"
        size="l"
        [color]="color">
      </sb-input>
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Checkbox</p>
    </sb-card-header>
    <sb-card-content class="group">
      <sb-checkbox
        *ngFor="let checkbox of model.checkboxes"
        [label]="checkbox.name"
        [color]="color">
      </sb-checkbox>
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Radio</p>
    </sb-card-header>
    <sb-card-content>
      <sb-radio-group
        ngClass="group"
        [options]="options"
        [color]="color">
      </sb-radio-group>
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Select Button</p>
    </sb-card-header>
    <sb-card-content ngClass="inputs">
      <sb-select-button
        [options]="options"
        accent
        size="m"
        [color]="color">
        Select
      </sb-select-button>
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Slider</p>
    </sb-card-header>
    <sb-card-content>
      <sb-slider
        placeholder="Slider"
        [max]="20"
        [min]="-20"
        [step]="0.1"
        [snap]="[0, 3, 6]"
        [color]="color">
      </sb-slider>
    </sb-card-content>
  </sb-card>
  <picker-card #fileInputPicker title="File Input" [shapesNotAllowed]="['round']">
    <picker-card-content>
      <h6>{{ fileInputPicker.currentShape }}</h6>
      <sb-grid dim="2xauto" justify="even" gap="s" ngClass="color-picker-grid">
        <sb-input
          type="file"
          placeholder="File Input"
          size="s"
          [pill]="fileInputPicker.currentShape == 'pill'"
          [plain]="fileInputPicker.currentLook.includes('plain')"
          [accent]="fileInputPicker.currentLook.includes('accent')"
          [color]="fileInputPicker.currentColor">
        </sb-input>
        <sb-input
          type="file"
          placeholder="File Input"
          size="m"
          [pill]="fileInputPicker.currentShape == 'pill'"
          [plain]="fileInputPicker.currentLook.includes('plain')"
          [accent]="fileInputPicker.currentLook.includes('accent')"
          [color]="fileInputPicker.currentColor">
        </sb-input>
        <sb-input
          type="file"
          placeholder="File Input"
          size="l"
          [pill]="fileInputPicker.currentShape == 'pill'"
          [plain]="fileInputPicker.currentLook.includes('plain')"
          [accent]="fileInputPicker.currentLook.includes('accent')"
          [color]="fileInputPicker.currentColor">
        </sb-input>
        <sb-input
          type="file"
          placeholder="File Input"
          size="xl"
          [pill]="fileInputPicker.currentShape == 'pill'"
          [plain]="fileInputPicker.currentLook.includes('plain')"
          [accent]="fileInputPicker.currentLook.includes('accent')"
          [color]="fileInputPicker.currentColor">
        </sb-input>
      </sb-grid>
    </picker-card-content>
  </picker-card>
  <picker-card #buttonPicker title="Button">
    <picker-card-content>
      <h6>{{ buttonPicker.currentShape }}</h6>
      <sb-grid dim="2xauto" justify="even" gap="s" ngClass="color-picker-grid">
        <button
          size="s"
          [pill]="buttonPicker.currentShape == 'pill'"
          [round]="buttonPicker.currentShape == 'round'"
          [plain]="buttonPicker.currentLook.includes('plain')"
          [accent]="buttonPicker.currentLook.includes('accent')"
          [color]="buttonPicker.currentColor">
            {{ buttonPicker.currentShape == 'round' ? 'Btn' : 'Button' }}
        </button>
        <button
          size="m"
          [pill]="buttonPicker.currentShape == 'pill'"
          [round]="buttonPicker.currentShape == 'round'"
          [plain]="buttonPicker.currentLook.includes('plain')"
          [accent]="buttonPicker.currentLook.includes('accent')"
          [color]="buttonPicker.currentColor">
            {{ buttonPicker.currentShape == 'round' ? 'Btn' : 'Button' }}
        </button>
        <button
          size="l"
          [pill]="buttonPicker.currentShape == 'pill'"
          [round]="buttonPicker.currentShape == 'round'"
          [plain]="buttonPicker.currentLook.includes('plain')"
          [accent]="buttonPicker.currentLook.includes('accent')"
          [color]="buttonPicker.currentColor">
            {{ buttonPicker.currentShape == 'round' ? 'Btn' : 'Button' }}
        </button>
        <button
          size="xl"
          [pill]="buttonPicker.currentShape == 'pill'"
          [round]="buttonPicker.currentShape == 'round'"
          [plain]="buttonPicker.currentLook.includes('plain')"
          [accent]="buttonPicker.currentLook.includes('accent')"
          [color]="buttonPicker.currentColor">
            {{ buttonPicker.currentShape == 'round' ? 'Btn' : 'Button' }}
        </button>
      </sb-grid>
    </picker-card-content>
  </picker-card>
</sb-grid>
