<sb-grid dim="1xauto" gap="m" ngClass="sb--padding-m">
  <sb-card size="s" color="primary">
    <sb-card-header>
      <p class="sb--s">Input</p>
    </sb-card-header>
    <sb-card-content ngClass="inputs">
      <sb-input
        type="text"
        placeholder="Type some text here"
        size="l"
        [color]="color">
      </sb-input>
      <sb-input
        type="double"
        firstPlaceholder="First input"
        secondPlaceholder="Second input"
        size="l"
        [color]="color">
      </sb-input>
    </sb-card-content>
  </sb-card>
  <sb-card size="s" color="primary">
    <sb-card-header>
      <p class="sb--s">Number Input</p>
    </sb-card-header>
    <sb-card-content ngClass="inputs">
      <sb-input
        type="number"
        placeholder="Number Input"
        size="l"
        [color]="color">
      </sb-input>
      <sb-input
        type="time"
        size="l"
        [color]="color">
      </sb-input>
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Datepicker</p>
    </sb-card-header>
    <sb-card-content ngClass="inputs">
      <sb-input
        type="date"
        size="l"
        [color]="color">
      </sb-input>
      <sb-input
        type="date-range"
        size="l"
        [color]="color">
      </sb-input>
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Checkbox</p>
    </sb-card-header>
    <sb-card-content class="group">
      <sb-checkbox
        *ngFor="let checkbox of model.checkboxes"
        [label]="checkbox.name"
        [color]="color">
      </sb-checkbox>
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Radio</p>
    </sb-card-header>
    <sb-card-content>
      <sb-radio-group
        ngClass="group"
        [options]="options"
        [color]="color">
      </sb-radio-group>
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Select Button</p>
    </sb-card-header>
    <sb-card-content ngClass="inputs">
      <sb-select-button
        [options]="options"
        accent
        size="m"
        [color]="color">
        Select
      </sb-select-button>
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Slider</p>
    </sb-card-header>
    <sb-card-content>
      <sb-slider
        placeholder="Slider"
        [max]="20"
        [min]="-20"
        [step]="0.1"
        [snap]="[0, 3, 6]"
        [color]="color">
      </sb-slider>
    </sb-card-content>
  </sb-card>
  <color-picker-card #fileInputColor title="File Input">
    <color-picker-card-content>
      <h6>Default</h6>
      <sb-grid dim="2xauto" justify="even" gap="s" ngClass="color-picker-grid">
        <sb-input
          type="file"
          placeholder="File Input"
          size="s"
          [color]="fileInputColor.color">
        </sb-input>
        <sb-input
          type="file"
          placeholder="File Input"
          size="m"
          [color]="fileInputColor.color">
        </sb-input>
        <sb-input
          type="file"
          placeholder="File Input"
          size="l"
          [color]="fileInputColor.color">
        </sb-input>
        <sb-input
          type="file"
          placeholder="File Input"
          size="xl"
          [color]="fileInputColor.color">
        </sb-input>
      </sb-grid>
    </color-picker-card-content>

    <color-picker-card-content>
      <h6>Pill</h6>
      <sb-grid dim="2xauto" justify="even" gap="s" ngClass="color-picker-grid">
        <sb-input
          type="file"
          pill
          placeholder="File Input"
          size="s"
          [color]="fileInputColor.color">
        </sb-input>
        <sb-input
          type="file"
          pill
          placeholder="File Input"
          size="m"
          [color]="fileInputColor.color">
        </sb-input>
        <sb-input
          type="file"
          pill
          placeholder="File Input"
          size="l"
          [color]="fileInputColor.color">
        </sb-input>
        <sb-input
          type="file"
          pill
          placeholder="File Input"
          size="xl"
          [color]="fileInputColor.color">
        </sb-input>
      </sb-grid>
    </color-picker-card-content>

    <color-picker-card-content>
      <h6>Plain</h6>
      <sb-grid dim="2xauto" justify="even" gap="s" ngClass="color-picker-grid">
        <sb-input
          type="file"
          plain
          placeholder="File Input"
          size="s"
          [color]="fileInputColor.color">
        </sb-input>
        <sb-input
          type="file"
          plain
          placeholder="File Input"
          size="m"
          [color]="fileInputColor.color">
        </sb-input>
        <sb-input
          type="file"
          plain
          placeholder="File Input"
          size="l"
          [color]="fileInputColor.color">
        </sb-input>
        <sb-input
          type="file"
          plain
          placeholder="File Input"
          size="xl"
          [color]="fileInputColor.color">
        </sb-input>
      </sb-grid>
    </color-picker-card-content>

    <color-picker-card-content>
      <h6>Accent</h6>
      <sb-grid dim="2xauto" justify="even" gap="s" ngClass="color-picker-grid">
        <sb-input
          type="file"
          accent
          placeholder="File Input"
          size="s"
          [color]="fileInputColor.color">
        </sb-input>
        <sb-input
          type="file"
          accent
          placeholder="File Input"
          size="m"
          [color]="fileInputColor.color">
        </sb-input>
        <sb-input
          type="file"
          accent
          placeholder="File Input"
          size="l"
          [color]="fileInputColor.color">
        </sb-input>
        <sb-input
          type="file"
          accent
          placeholder="File Input"
          size="xl"
          [color]="fileInputColor.color">
        </sb-input>
      </sb-grid>
    </color-picker-card-content>
    <color-picker-card-content>
      <h6>Accent and Plain</h6>
      <sb-grid dim="2xauto" justify="even" gap="s" ngClass="color-picker-grid">
        <sb-input
          type="file"
          accent
          plain
          placeholder="File Input"
          size="s"
          [color]="fileInputColor.color">
        </sb-input>
        <sb-input
          type="file"
          accent
          plain
          placeholder="File Input"
          size="m"
          [color]="fileInputColor.color">
        </sb-input>
        <sb-input
          type="file"
          accent
          plain
          placeholder="File Input"
          size="l"
          [color]="fileInputColor.color">
        </sb-input>
        <sb-input
          type="file"
          accent
          plain
          placeholder="File Input"
          size="xl"
          [color]="fileInputColor.color">
        </sb-input>
      </sb-grid>
    </color-picker-card-content>
  </color-picker-card>
  <color-picker-card #buttonColor title="Button">
    <color-picker-card-content>
      <h6>Default</h6>
      <sb-grid dim="2xauto" justify="even" gap="s" ngClass="color-picker-grid">
        <button
          size="s"
          [color]="buttonColor.color">
            Button
        </button>
        <button
          size="m"
          [color]="buttonColor.color">
            Button
        </button>
        <button
          size="l"
          [color]="buttonColor.color">
            Button
        </button>
        <button
          size="xl"
          [color]="buttonColor.color">
            Button
        </button>
      </sb-grid>
    </color-picker-card-content>

    <color-picker-card-content>
      <h6>Pill</h6>
      <sb-grid dim="2xauto" justify="even" gap="s" ngClass="color-picker-grid">
        <button
          pill
          size="s"
          [color]="buttonColor.color">
            Button
        </button>
        <button
          pill
          size="m"
          [color]="buttonColor.color">
            Button
        </button>
        <button
          pill
          size="l"
          [color]="buttonColor.color">
            Button
        </button>
        <button
          pill
          size="xl"
          [color]="buttonColor.color">
            Button
        </button>
      </sb-grid>
    </color-picker-card-content>

    <color-picker-card-content>
      <h6>Plain</h6>
      <sb-grid dim="2xauto" justify="even" gap="s" ngClass="color-picker-grid">
        <button
          plain
          size="s"
          [color]="buttonColor.color">
            Button
        </button>
        <button
          plain
          size="m"
          [color]="buttonColor.color">
            Button
        </button>
        <button
          plain
          size="l"
          [color]="buttonColor.color">
            Button
        </button>
        <button
          plain
          size="xl"
          [color]="buttonColor.color">
            Button
        </button>
      </sb-grid>
    </color-picker-card-content>
    <color-picker-card-content>
      <h6>Accent</h6>
      <sb-grid dim="2xauto" justify="even" gap="s" ngClass="color-picker-grid">
        <button
          accent
          size="s"
          [color]="buttonColor.color">
            Button
        </button>
        <button
          accent
          size="m"
          [color]="buttonColor.color">
            Button
        </button>
        <button
          accent
          size="l"
          [color]="buttonColor.color">
            Button
        </button>
        <button
          accent
          size="xl"
          [color]="buttonColor.color">
            Button
        </button>
      </sb-grid>
    </color-picker-card-content>
    <color-picker-card-content>
      <h6>Accent and Plain</h6>
      <sb-grid dim="2xauto" justify="even" gap="s" ngClass="color-picker-grid">
        <button
          accent
          plain
          size="s"
          [color]="buttonColor.color">
            Button
        </button>
        <button
          accent
          plain
          size="m"
          [color]="buttonColor.color">
            Button
        </button>
        <button
          accent
          plain
          size="l"
          [color]="buttonColor.color">
            Button
        </button>
        <button
          accent
          plain
          size="xl"
          [color]="buttonColor.color">
            Button
        </button>
      </sb-grid>
    </color-picker-card-content>
  </color-picker-card>
</sb-grid>
