<div class="sb--padding-m">
  <sb-grid dim="1x2" gap="m">
    <sb-card size="s" color="primary">
      <sb-card-header>
        <p class="sb--s">Input</p>
      </sb-card-header>
      <sb-card-content ngClass="pickers">
        <sb-input
          type="text"
          placeholder="Type some text here"
          size="l"
          [color]="color"
          [disabled]="false">
        </sb-input>
        <sb-input
          type="double"
          firstPlaceholder="First input"
          secondPlaceholder="Second input"
          size="l"
          [color]="color"
          [disabled]="false">
        </sb-input>
      </sb-card-content>
    </sb-card>
    <sb-card size="s" color="primary">
      <sb-card-header>
        <p class="sb--s">Number Input</p>
      </sb-card-header>
      <sb-card-content ngClass="pickers">
        <sb-input
          type="number"
          placeholder="Number Input"
          size="l"
          [color]="color">
        </sb-input>
        <sb-input
          type="time"
          size="l"
          [color]="color">
        </sb-input>
      </sb-card-content>
    </sb-card>
    <sb-card>
      <sb-card-header>
        <p class="sb--s">Datepicker</p>
      </sb-card-header>
      <sb-card-content ngClass="pickers">
        <sb-input
          type="date"
          size="l"
          [color]="color">
        </sb-input>
        <sb-input
          type="date-range"
          size="l"
          [color]="color">
        </sb-input>
      </sb-card-content>
    </sb-card>
  </sb-grid>
  <sb-checkbox
    *ngFor="let checkbox of model.checkboxes"
    [label]="checkbox.name"
    [color]="color"
    [disabled]="false">
  </sb-checkbox>
  <sb-radio-group
    [options]="options"
    [color]="color"
    [disabled]="false">
  </sb-radio-group>
  <sb-select-button
    [options]="options"
    pill
    size="m"
    [color]="color">
    Select
  </sb-select-button>
  <sb-slider
    placeholder="Slider"
    [max]="20"
    [min]="-20"
    [step]="0.1"
    [snap]="[0, 3, 6]"
    [color]="color">
  </sb-slider>
  <sb-input
    type="file"
    placeholder="File Input"
    pill
    size="m"
    [color]="color"
    [disabled]="false">
  </sb-input>
  <sb-tooltip text="This is a tooltip!" position="bottom">
    <button
      type="submit"
      pill
      size="m"
      [color]="color"
      [disabled]="false">
        Submit
    </button>
  </sb-tooltip>
</div>
