<div [ngClass]="classes">
  <span *ngIf="hasGroupTitle" class="sb-form-group__title">{{groupTitle}}</span>
  <div
    class="sb-radio-button-group__radio-button sb-form-group-options__option"
    *ngFor="let option of options">
    <sb-el-radio-button
      [(ngModel)]="selectedOptions[option]"
      (ngModelChange)="change(option)"
      [disabled]="disabled"
      [size]="size"
      [color]="color">
    </sb-el-radio-button>
    <label class="sb-radio-button-group__label sb-form-group-options__option-label">
      <span>{{ option }}</span>
    </label>
  </div>
</div>
