<sb-card>
	<sb-card-header ngClass="color-picker-header">
		<p class="sb--s">{{ title }}</p>
		<color-picker *ngIf="pickColor" [(ngModel)]="currentColor" [notAllowed]="colorsNotAllowed"></color-picker>
		<form-picker *ngIf="pickShape" [(ngModel)]="currentShape" [notAllowed]="shapesNotAllowed"></form-picker>
		<look-picker *ngIf="pickLook" [(ngModel)]="currentLook" [notAllowed]="looksNotAllowed"></look-picker>
		<theme-toggle-switch></theme-toggle-switch>
	</sb-card-header>
	<ng-content select="[sbCardImage]" ngProjectAs="[sbCardImage]"></ng-content>
	<sb-card-content *ngFor="let content of contents" [ngClass]="content.classes">
		<ng-container *ngTemplateOutlet="content.template"></ng-container>
	</sb-card-content>
</sb-card>
