<sb-nav-bar>
  <sb-nav-bar-content>
    <sb-link right *ngFor="let route of routes" [routerLink]="['/', 'example', route.path]" sbContentPagination>{{ toCapitalCase(route.path) }}</sb-link>
  </sb-nav-bar-content>
</sb-nav-bar>
<sb-tab-bar>
  <sb-tab-label *ngFor="let route of routes" [routerLink]="['/', 'example', route.path]" routerLinkActive="active">{{ toCapitalCase(route.path) }}</sb-tab-label>
</sb-tab-bar>
<sb-tabs [activeTabIndex]="1">
  <sb-tab [labelTemplate]="labelOne">
    <ng-template #labelOne>
      This is a fancy label<sb-icon>face</sb-icon>
    </ng-template>
    <sb-container class="sb--margin-s">
      A
    </sb-container>
  </sb-tab>
  <sb-tab label="This is a basic label">
    <sb-container class="sb--margin-s">
      B
    </sb-container>
  </sb-tab>
  <sb-tab label="Another label">
    <sb-container class="sb--margin-s">
      C
    </sb-container>
  </sb-tab>
</sb-tabs>
<router-outlet></router-outlet>
