<sb-el-form-group
  [groupTitle]="groupTitle"
  [groupAlign]="groupAlign"
  [size]="size"
  [color]="color">
  <div [ngClass]="getClasses()">
    <div
      [ngClass]="rootClass + '__option'"
      *ngFor="let option of options">
      <sb-el-radio-button
        [(ngModel)]="selectedOptions[option]"
        (change)="check(option)"
        [size]="size"
        [color]="color"
        [disabled]="disabled"
        [labelPosition]="labelPosition"
        [label]="option">
      </sb-el-radio-button>
    </div>
  </div>
</sb-el-form-group>
