<sb-container size="l">
  <sb-grid dim="1x1" gap="l">
    <sb-card size="s" color="primary">
      <div title>
        Paragraph
      </div>
      <div content>
        <p class="sb--xs">Paragraph xs</p>
        <p class="sb--s">Paragraph s</p>
        <p class="sb--m">Paragraph m</p>
        <p class="sb--l">Paragraph l</p>
        <p class="sb--xl">Paragraph xl</p>
        <p class="sb--xxl">Paragraph xxl</p>
      </div>
    </sb-card>
    <sb-card size="s" color="primary">
      <div title>
        Heading
      </div>
      <div content>
        <h6>Heading h6</h6>
        <h5>Heading h5</h5>
        <h4>Heading h4</h4>
        <h3>Heading h3</h3>
        <h2>Heading h2</h2>
        <h1>Heading h1</h1>
      </div>
    </sb-card>
    <sb-card size="s" color="primary">
      <div title>
        Display
      </div>
      <div content>
        <h1 class="sb-display--xs">Display xs</h1>
        <h1 class="sb-display--s">Display s</h1>
        <h1 class="sb-display--m">Display m</h1>
        <h1 class="sb-display--l">Display l</h1>
      </div>
    </sb-card>
  </sb-grid>
</sb-container>
