@use "sb-element/core/theming";
@use "sb-element/core/border";

@mixin theme($theme) {
	[class^=shape] {

		div {
			border: theming.get-accent-text($theme) border.get-border-width(m) solid;
		}

		&.active div {
			background: theming.get-accent-text($theme);
		}

		&.disabled div {
			border: none;
			background: theming.get-accent($theme);
		}
	}
}
