/* You can add global styles to this file, and also import other style files */
@use 'core/spacing';
@use 'sb-theming';

html, body {
  background: var(--black-dark);
  margin: 0;
  padding: 0;
}


.hi {
  .sb-el-form-group__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  @include spacing.padding(s);

  > * > div {
    height: 100%;
  }
}
