/* You can add global styles to this file, and also import other style files */
@use 'sb-element';
@use 'sb-element/theme';

html, body {
  margin: 0;
  padding: 0;
}


.hi {
  .sb-form-group__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  @include sb-element.padding(s);

  > * > div {
    height: 100%;
  }
}

.container {
  display: flex !important;
  justify-content: center;
}
