/*
  You can customize the variables used in the whole project by tweaking the
  variables below. All variables used in the project depend upon these
  variables.
*/

@import 'sb-theming';

/*****************************************************************************
Variables
******************************************************************************/

// Color variables. The different colors are used to define palettes, which are
// used in either the light or dark theme or both.
:root {
	--white-default: #FFF7F5;
	--white-light: #FFFFFF;
	--white-dark: #E0D9D7;


	--black-default: #070809;
	--black-light: #252B31;
	--black-dark: #010202;


	--green-default: #2ADF9A;
	--green-light: #BFEFD9;
	--green-dark: #114834;


	--red-default: #FF526C;
	--red-light: #FFC5CB;
	--red-dark: #511E26;


	--yellow-default: #FFD147;
	--yellow-light: #FFE7AF;
	--yellow-dark: #383015;


	--blue-default: #3F8BFD;
	--blue-light: #C5D6F7;
	--blue-dark: #172F52;


	--pink-default: #F75999;
	--pink-light: #FCC7D9;
	--pink-dark: #4F2034;
}

// Spacing variables used for spacing or sizing.
:root {
  --spacing-s: 0.7rem;
  --spacing-d: 1rem;
  --spacing-m: 1.4rem;
  --spacing-l: 1.8rem;
}

// Border width variables.
:root {
  --border-s: 1px;
  --border-d: 2px;
  --border-m: 3px;
  --border-l: 4px;
}

/*
  Imports the following font faces from goolge fonts api (https://fonts.google.com/):

  - Inter (https://fonts.google.com/specimen/Inter)
    - Light 300
    - Regular 400
    - Bold 700
    - Extra-bold 800

  - Abril Fatface (https://fonts.google.com/specimen/Abril+Fatface)
    - Regular 400
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&family=Roboto+Mono:ital,wght@1,700&display=swap');

/*
  Imports material icons form the google fonts api (https://fonts.google.com/).

  The icons can be found under 'https://fonts.google.com/icons'.
*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


// Typography vairables
:root {
  // weights
  --font-weight-lighter: lighter;
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --font-weight-bolder: bolder;

  // families
  --font-family-default: 'Inter', sans-serif;
  --font-family-display: 'Roboto Mono', monospace;

  // sizes
  --font-size-s: 0.85rem;
  --font-size-d: 1rem;
  --font-size-m: 1.3rem;
  --font-size-l: 1.4rem;
  --font-size-xl: 1.6rem;
}
