<sb-container ngClass="sb--margin-m"></sb-container>

<sb-grid dim="1x1" gap="m" ngClass="sb--padding-m">
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Card</p>
    </sb-card-header>
    <sb-card-content>
      <sb-grid dim="3x1" justify="even" gap="s">
        <sb-card>
          <sb-card-header>
            This is a header
          </sb-card-header>
          <sb-card-content>
            This is the normal content!<br>
            This is the normal content!<br>
            This is the normal content!<br>
            This is the normal content!
          </sb-card-content>
          <sb-card-content>
            This is the normal content!<br>
            This is the normal content!<br>
            This is the normal content!<br>
            This is the normal content!
          </sb-card-content>
        </sb-card>
        <sb-card>
          <sb-card-header>
            This is a header
          </sb-card-header>
          <img sbCardImage src="assets/indicator-card.svg"/>
          <img sbCardImage src="assets/indicator-card.svg"/>
          <sb-card-content>
            This is the normal content!<br>
            This is the normal content!<br>
            This is the normal content!<br>
            This is the normal content!
          </sb-card-content>
          <sb-card-content>
            This is the normal content!<br>
            This is the normal content!<br>
            This is the normal content!<br>
            This is the normal content!
          </sb-card-content>
        </sb-card>
        <sb-card>
          <sb-card-header>
            This is a header
          </sb-card-header>
          <img sbCardImage src="assets/indicator-card.svg"/>
          <sb-card-content>
            This is the normal content!<br>
            This is the normal content!<br>
            This is the normal content!<br>
            This is the normal content!
          </sb-card-content>
        </sb-card>
      </sb-grid>
    </sb-card-content>
  </sb-card>
  <sb-card>
    <sb-card-header>
      <p class="sb--s">Expansion Card</p>
    </sb-card-header>
    <sb-card-content>
      <sb-grid dim="3x1" justify="even" gap="s">
        <sb-expansion-card>
          <sb-card-header>
            This is a header
            <sb-icon>expand_more</sb-icon>
          </sb-card-header>
          <sb-card-content>
            This is the normal content!<br>
            This is the normal content!<br>
            This is the normal content!<br>
            This is the normal content!
          </sb-card-content>
        </sb-expansion-card>
        <sb-expansion-card>
          <sb-card-header>
            This is a header
            <sb-icon>expand_more</sb-icon>
          </sb-card-header>
          <img sbCardImage src="assets/indicator-card.svg"/>
          <img sbCardImage src="assets/indicator-card.svg"/>
          <sb-card-content>
            This is the normal content!<br>
            This is the normal content!<br>
            This is the normal content!<br>
            This is the normal content!
          </sb-card-content>
        </sb-expansion-card>
        <sb-expansion-card>
          <sb-card-header>
            This is a header
            <sb-icon>expand_more</sb-icon>
          </sb-card-header>
          <img sbCardImage src="assets/indicator-card.svg"/>
          <sb-card-content>
            This is the normal content!<br>
            This is the normal content!<br>
            This is the normal content!<br>
            This is the normal content!
          </sb-card-content>
        </sb-expansion-card>
      </sb-grid>
    </sb-card-content>
  </sb-card>
</sb-grid>
