@use "../styles/spacing";
/*****************************************************************************
Toaster / Style
******************************************************************************/

// ROOT
.sb-toaster {
  display: block;
  position: fixed;
  pointer-events: none;
  z-index: 998;
  @include spacing.padding(m);

  &.top-left {
    top: 0;
    left: 0;
  }

  &.top-right {
    top: 0;
    right: 0;
  }

  &.bottom-left {
    bottom: 0;
    left: 0;
  }

  &.bottom-right {
    bottom: 0;
    right: 0;
  }

  .sb-toast {
    pointer-events: all;
  }

  .sb-toast:not(:last-child) {
    @include spacing.margin-bottom(m);
  }
}
